<section class="partners-section">
    <div class="partner-container">
        <h5 class="partners-title">ENGAGING AND COLLABORATING WITH</h5>
        <div class="marquee-viewport">
            <div class="partners-logos" id="partnersMarquee">
                <img src="/partners/redhat_black.svg" alt="Red Hat">    
                <img src="/partners/intel-grey.svg" alt="Intel">
                <img src="/partners/ut-austin_black.svg" alt="University of Texas at Austin">
                <img src="/partners/aya_pay_black.svg" alt="Aya Pay">
                <img src="/partners/citibank_black.svg" alt="Citibank">
                <img src="/partners/citrix.svg" alt="Citrix">
                <img src="/partners/cncf-black.svg" alt="CNCF">
                <img src="/partners/digitalocean-black.svg" alt="DigitalOcean">
                <img src="/partners/hashicorp_vertical_black.svg" alt="HashiCorp">
                <img src="/partners/hpe_side_black.svg" alt="HPE">
                <img src="/partners/metabit-trading-logo-gray.svg" alt="Metabit Trading">
                <img src="/partners/nitk_black.svg" alt="NITK">
                <img src="/partners/rackspace_black.svg" alt="Rackspace">
                <img src="/partners/vmware.svg" alt="VMware">
                <img src="/partners/uem_black.svg" alt="UEM">
            </div>
        </div>
    </div>
</section>