.site-footer {
  background-color: #2a2e20;
  padding: 30px 40px 10px;
  color: $white;

  .container {
    max-width: 1200px;
    margin: 0 auto 0 3rem;
  }

  .footer-main {
    display: grid;
    grid-template-columns: 1.5fr 0.8fr 1fr 2fr;
    gap: 30px;
    align-items: start;     

    @media (max-width: 992px) { grid-template-columns: repeat(2, 1fr); }
    @media (max-width: 600px) { grid-template-columns: 1fr; }
  }

  .brand-col {
    .footer-logo {
      display: flex;
      align-items: center;
      gap: 12px;
      margin-bottom: 20px;
      padding-top: 10px;
      
      img { 
        width: 35px; 
        height: auto;
      }
      
      span {
        font-weight: 800;
        font-size: 1rem;
        letter-spacing: 1px;
      }
    }
    
    .brand-desc {
      color: $casper;
      font-size: 0.9rem;
      line-height: 1.6;
      margin-bottom: 25px;
      max-width: 280px;
    }

    .social-links {
      display: flex;
      gap: 25px;
      a {
        color: $secondary; 
        font-size: 1.2rem;
        transition: 0.3s;
        &:hover { color: $primary; } 
      }
    }
  }

  .footer-col {
    h4 {
      font-size: 0.9rem;
      font-weight: 700;
      margin-bottom: 25px;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: $white;
      line-height: 1;
    }

    ul {
      list-style: none;
      padding: 0;
      margin-top:0;
      li {
        margin-bottom: 12px;
        a {
          color: $casper;
          text-decoration: none;
          font-size: 0.9rem;
          transition: 0.3s;
          &:hover { color: $primary; } 
        }
      }
    }
    p{
        color: $casper;
    }
  }

  .tech-grid {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    
    ul{
        flex: 1;
     li {
      color: $casper;
      font-size: 0.9rem;
      margin-bottom: 8px;
     }
    }
  }

  .footer-bottom {
    border-top: 1px solid rgba($white, 0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $casper;
    font-size: 0.85rem;

    .footer-legal {
      display: flex;
      gap: 15px;
      a { 
        color: $casper; 
        text-decoration: none;
        &:hover { color: $primary; }
      }
    }
  }
}