.hero-section {
  padding: $spacer * 2 $spacer * 1.5;
  text-align: center;


  .hero-badge {
    display: inline-flex;
    align-items: center;
    gap: $spacer * 0.75;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(#00b399, 0.3);
    padding: $spacer * .5 $spacer;
    border-radius: 20px;
    font-size: 0.75rem;
    color: #00b399;
  }

  .hero-title {
    margin-top: $spacer;
    font-size: 5rem;
    line-height: 1.1;
    font-weight: 800;
    margin-bottom: $spacer;

    // keep stroke, but use variable bg color
    -webkit-text-stroke: 2px #050505;

    .text-gradient {
      background: linear-gradient(
        90deg,
        #00b399,
        lighten(#00b399, 10%)
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .hero-subtitle {
    font-size: 1.2rem;
    color: $white;
    max-width: 700px;
    margin: 0 auto 2rem;
    line-height: 1.6;

    strong {
      color: #00b399;
    }
  }

  .hero-stats {
    display: flex;
    justify-content: center;
    gap: 4rem;
    padding-top: 3rem;

    .stat-item {
      display: flex;
      gap: $spacer * .5;

      i {
        color: #00b399;
        padding-top: 0.5rem;
      }

      strong {
        display: block;
        font-size: 1.5rem;
        color: $white;
      }

      span {
        color: $white;
        font-size: 0.7rem;
      }
    }
  }

  .hero-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin-top: 2rem;

    .btn-start {
      background-color: #00b399;
      color: #050505;
      padding: 12px 28px;
      border-radius: 8px;
      font-weight: 700;
      font-size: 0.9rem;
      text-decoration: none;
      display: inline-flex;
      align-items: center;
      gap: $spacer * .5;
      border: 2px solid #00b399;
      transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);

      i {
        font-size: 0.9rem;
      }

      &:hover {
        background-color: lighten(#00b399, 10%);
        border-color: lighten(#00b399, 10%);
        transform: translateY(-3px);
        box-shadow: 0 10px 20px rgba(#00b399, 0.3);
      }
    }

    .btn-outline {
      background-color: transparent;
      color: $white;
      padding: 12px 28px;
      border-radius: 8px;
      font-weight: 500;
      font-size: 0.9rem;
      text-decoration: none;
      border: 1px solid rgba($white, 0.2);
      transition: all 0.3s ease;

      &:hover {
        background-color: rgba($white, 0.05);
        border-color: rgba($white, 0.5);
        color: #00b399;
      }
    }
  }
}