baseURL = 'http://localhost:1313/'
title = 'Kanvas'

# Language settings
contentDir = "content/en"
defaultContentLanguage = "en"
defaultContentLanguageInSubdir = false
# Useful when translating.
enableMissingTranslationPlaceholders = true

[menu]

  [[menu.main]]
    name = "About"
    url = "/about/"
    weight = 10

  [[menu.main]]
    name = "Getting Started"
    url = "/getting-started/"
    weight = 20

  [[menu.main]]
    name = "Community"
    url = "/community/"
    weight = 30

[params]
  dark-mode = true
  logo_light = "images/kanvas-logo-light.svg"
  logo_dark = "images/kanvas-logo-dark.svg"
  description = "Visual cloud native management for Kubernetes"


[module]
  # uncomment line below for temporary local development of module
  # replacements = "github.com/google/docsy -> ../../docsy"
  [module.hugoVersion]
    extended = true
    min = "0.110.0"
  [[module.imports]]
    path = "github.com/google/docsy"
    disable = false
  [[module.imports]]
    path = "github.com/google/docsy/dependencies"
    disable = false

