// 1. Imports
@import "bootstrap_compat";
@import "variables_project";
@import "fonts_project";
@import "content_project";
@import "header";
@import "capabilities";
@import "community";
@import "footer";
@import "customers";
@import "hero-glass";
@import "floating-logo";
@import "browser";
@import "cursors";


body {
  background-color: #060c0c;      
  color: $white;                
  margin: 0;
  -webkit-font-smoothing: antialiased;
  font-family: $font-family-base; 
}

.logo-img {
  height: 35px;
  width: auto;
  display: block;
}


