// Theme options

$enable-gradients: true;
$enable-shadows: false;

// Theme colors

$primary: #00b39f;
$secondary: #00d3a9;

$success: #3772ff !default;
$info: #c0e0de !default;
$warning: #ed6a5a !default;
$danger: #ed6a5a;
$light: #d3f3ee;
$dark: #121212;
$blonde: #fff3c5;
$saffron: #ebc017;
$lightslategray: #7a848e;
$casper: #b1b6b8;
$card-dark-1: #0c1117;
$card-dark-2: #0f1a20;

$code-color: shade-color($secondary, 40%) !default;

// Body
$body-color: #cccccc;
$body-bg: #010101;

// Buttons
$button-line-height: 3rem;

// Sidebar colors

$border-color: rgba($primary, 0.33);
$sidebar-tree-root-color: #ccc;
$sidebar-bg-color: rgba($dark, 0.5);
$sidebar-color: rgba($white, 0.33);
$sidebar-border-color: $border-color;
$sidebar-toc-bg-color: rgba($dark, 0.5);

// Section colors
$box-colors: $dark, $primary, $secondary, $info, $white, $gray-600, $success,
  $warning, $dark, $danger, $primary, $secondary, $info !default;

// Links
$link-color: $white !default;
$link-decoration: none !default;
$link-shade-percentage: 30% !default;

// Fonts

$google_font_name: "Open Sans" !default;
$google_font_family: "Open+Sans:300,300i,400,400i,700,700i" !default;
$web-font-path: "https://fonts.googleapis.com/css?family=#{$google_font_family}&display=swap";
$font-awesome-font-name: "Font Awesome 6 Free" !default;

$font-serif: "Qanelas Soft", -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol";
$font-qanelas: "Qanelas Soft", sans-serif, -apple-system, BlinkMacSystemFont,
  "Segoe UI", Roboto, "Helvetica Neue", Arial, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol";

$font-family-sans-serif: $font-serif;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
  "Liberation Mono", "Courier New", monospace !default;
$font-family-base: $font-family-sans-serif !default;

// Font weights

$font-weight-medium: 500 !default;
$font-weight-body-text: $font-weight-normal !default;

// Heading sizes

$h3-font-size: $font-size-base * 1.5 !default;
$h4-font-size: $font-size-base * 1.35 !default;
$h5-font-size: $font-size-base * 1.15 !default;

// Space

$block-space-top-base: 4 * $spacer !default;
$block-space-bottom-base: 4 * $spacer !default;

// Pagination

$pagination-color: $gray-600 !default;
$pagination-disabled-color: $gray-300 !default;

// Navbar

$navbar-color: rgba($white, 0.75) !default;
$navbar-hover-color: rgba($white, 0.35) !default;

// Footer

$list-inline-padding: $spacer;
