<section class="workflow-section">

    <div class="workflow-header">
        <h2 class="heading-style-h2 linnear-color">Discover features that transform workflows</h2>
    </div>
    <div class="workflow-layout">
        <div class="workflow-top">
            {{ partial "section/card/gitops-card.html" . }}
        </div>
        <div class="workflow-row">
            <div class="workflow-card">
                {{ partial "section/card/collaboration.html" . }}
            </div>
            <div class="workflow-card">
                {{ partial "section/card/timeline.html" . }}
            </div>
        </div>
    </div>
</section>
