<section class="customers-section">
    <div class="customers-container">
        <h2 class="customers-title">TRUSTED BY</h2>
        <div class="marquee-viewport">
            <div class="customers-logos" id="customersMarquee">
                <img src="/customers/redhat_black.svg" alt="Red Hat">    
                <img src="/customers/intel-grey.svg" alt="Intel">
                <img src="/customers/ut-austin_black.svg" alt="University of Texas at Austin">
                <img src="/customers/aya_pay_black.svg" alt="Aya Pay">
                <img src="/customers/citibank_black.svg" alt="Citibank">
                <img src="/customers/citrix.svg" alt="Citrix">
                 <img src="/customers/equinix.svg" alt="Equinix">
                <img src="/customers/cncf-black.svg" alt="CNCF">
                <img src="/customers/digitalocean-black.svg" alt="DigitalOcean">
                <img src="/customers/hashicorp-horizontal.svg" alt="HashiCorp">
                <img src="/customers/hpe_side_black.svg" alt="HPE">
                <img src="/customers/metabit-trading-logo-gray.svg" alt="Metabit Trading">
                <img src="/customers/nitk_black.svg" alt="NITK">
                <img src="/customers/rackspace_black.svg" alt="Rackspace">
                <img src="/customers/broadcom.svg" alt="Broadcom">
                <img src="/customers/uem_black.svg" alt="UEM">
                <img src="/customers/docker_black.svg" alt="Docker">
            </div>
        </div>
    </div>
</section>
