<section class="header-bottom-content-wrp">
    <div class="header-bottom-left-content-wrapper">
        <div class="number-item">
            <div class="number-content">
                <h3 class="heading-style-h3" id="statNumber">380+</h3>
                <div class="text-size-small text-color-white" id="statLabel">Integration</div>
            </div>
            <div class="number-line"></div>
        </div>
        <div class="text-size-regular text-color-white-200">
            Design, deploy, and manage your cloud native infrastructure visually. Collaborate in real-time with your team.
        </div>
    </div>
</section>
<section class="customers-section">
    <div class="customers-container">
        <h5 class="customers-title heading-style-h2 linnear-color">Trusted by</h5>
        <div class="marquee-viewport">
            <div class="customers-logos" id="customersMarquee">
                <img src="/customers/redhat_black.svg" alt="Red Hat">    
                <img src="/customers/intel-grey.svg" alt="Intel">
                <img src="/customers/ut-austin_black.svg" alt="University of Texas at Austin">
                <img src="/customers/aya_pay_black.svg" alt="Aya Pay">
                <img src="/customers/citibank_black.svg" alt="Citibank">
                <img src="/customers/citrix.svg" alt="Citrix">
                <img src="/customers/cncf-black.svg" alt="CNCF">
                <img src="/customers/digitalocean-black.svg" alt="DigitalOcean">
                <img src="/customers/hashicorp_vertical_black.svg" alt="HashiCorp">
                <img src="/customers/hpe_side_black.svg" alt="HPE">
                <img src="/customers/metabit-trading-logo-gray.svg" alt="Metabit Trading">
                <img src="/customers/nitk_black.svg" alt="NITK">
                <img src="/customers/rackspace_black.svg" alt="Rackspace">
                <img src="/customers/vmware.svg" alt="VMware">
                <img src="/customers/uem_black.svg" alt="UEM">
            </div>
        </div>
    </div>
</section>