<section class="customers-section">
    <div class="customers-container">
        <h5 class="customers-title">TRUSTED BY</h5>
        <div class="marquee-viewport">
            <div class="customers-logos" id="customersMarquee">
                <div class="logo">
                    <img src="/customers/redhat_black.svg" alt="Red Hat">  
                    <div class="hovered-glass">
                        <div><img src="/customers/redhat_black.svg" alt="Red Hat"></div>
                        <div class="hovered-glass-text">
                            <p class="quote">Kanvas transformed our design workflow - delightful UX</p>
                            <p>John Bettson</p> 
                            <p>Softwawe Developer, Red Hat</p>
                        </div>
                    </div> 
                </div>
                <div  class="logo">
                    <img src="/customers/intel-grey.svg" alt="Intel">
                    <div class="hovered-glass">
                        <div><img src="/customers/intel-grey.svg" alt="Intel"></div>
                        <div class="hovered-glass-text">
                            <p class="quote">Kanvas transformed our design workflow - delightful UX</p>
                            <p>Alais Ashur</p> 
                            <p>CEO, Intel</p>
                        </div>
                    </div>
                </div>
                <div  class="logo">
                    <img src="/customers/ut-austin_black.svg" alt="University of Texas at Austin">
                    <div class="hovered-glass">
                        <div><img src="/customers/ut-austin_black.svg" alt="University of Texas at Austin"></div>
                        <div class="hovered-glass-text">
                            <p class="quote">Kanvas transformed our design workflow - delightful UX</p>
                            <p>Elly Rayan</p> 
                            <p>IT, UTA</p>
                        </div>
                    </div>
                </div>
                <div  class="logo">
                    <img src="/customers/aya_pay_black.svg" alt="Aya Pay">
                    <div class="hovered-glass">
                        <div><img src="/customers/aya_pay_black.svg" alt="Aya Pay"></div>
                        <div class="hovered-glass-text">
                            <p class="quote">Kanvas transformed our design workflow - delightful UX</p>
                            <p>Mee Viral</p> 
                            <p>Software Engineer, Aya Pay</p>
                        </div>
                    </div>
                </div>
                <div  class="logo">
                    <img src="/customers/citibank_black.svg" alt="Citibank">
                    <div class="hovered-glass">
                        <div><img src="/customers/citibank_black.svg" alt="Citibank"></div>
                        <div class="hovered-glass-text">
                            <p class="quote">Kanvas transformed our design workflow - delightful UX</p>
                            <p>Matt Lewa</p> 
                            <p>Product Lead, Citibank</p> 
                        </div>
                    </div>
                </div>
                <div  class="logo">
                    <img src="/customers/citrix.svg" alt="Citrix">
                    <div class="hovered-glass">
                        <div><img src="/customers/citrix.svg" alt="Citrix"></div>
                        <div class="hovered-glass-text">
                            <p class="quote">Kanvas transformed our design workflow - delightful UX</p>
                            <p>Abed Khan</p> 
                            <p>HR, Citrix</p>
                        </div>
                    </div>
                </div>
                <div  class="logo">
                    <img src="/customers/cncf-black.svg" alt="CNCF">
                    <div class="hovered-glass">
                        <div><img src="/customers/cncf-black.svg" alt="CNCF"></div>
                        <div class="hovered-glass-text">
                            <p class="quote">Kanvas transformed our design workflow - delightful UX</p>
                            <p>Asha Khan</p>
                            <p>Head Master, CNCF</p>
                        </div>
                    </div>
                </div>
                <div  class="logo">
                    <img src="/customers/digitalocean-black.svg" alt="DigitalOcean">
                    <div class="hovered-glass">
                        <div><img src="/customers/digitalocean-black.svg" alt="DigitalOcean"></div>
                        <div class="hovered-glass-text">
                            <p class="quote">Kanvas transformed our design workflow - delightful UX</p>
                            <p>Asha Khan</p>
                            <p>Product Lead, DigitalOcean</p>
                        </div>
                    </div>
                </div>
                <div  class="logo">
                    <img src="/customers/hashicorp_vertical_black.svg" alt="HashiCorp">
                    <div class="hovered-glass">
                        <div><img src="/customers/hashicorp_vertical_black.svg" alt="HashiCorp"></div>
                        <div class="hovered-glass-text">
                            <p class="quote">Kanvas transformed our design workflow - delightful UX</p>
                            <p>Asha Khan</p>
                            <p>Product Lead, HashiCorp</p>
                        </div>
                    </div>
                </div>
                <div  class="logo">
                    <img src="/customers/hpe_side_black.svg" alt="HPE">
                    <div class="hovered-glass">
                        <div><img src="/customers/hpe_side_black.svg" alt="HPE"></div>
                        <div class="hovered-glass-text">
                            <p class="quote">Kanvas transformed our design workflow - delightful UX</p>
                            <p>Asha Khan</p>
                            <p>Computer Engineer, HPE</p>
                        </div>
                    </div>
                </div>
                <div  class="logo">
                    <img src="/customers/metabit-trading-logo-gray.svg" alt="Metabit Trading">
                    <div class="hovered-glass">
                        <div><img src="/customers/metabit-trading-logo-gray.svg" alt="Metabit Trading"></div>
                        <div class="hovered-glass-text">
                            <p class="quote">Kanvas transformed our design workflow - delightful UX</p>
                            <p>Asha Khan</p>
                            <p>Product Lead, Metabit Trading</p>
                        </div>
                    </div>
                </div>
                <div  class="logo">
                    <img src="/customers/nitk_black.svg" alt="NITK">
                    <div class="hovered-glass">
                        <div><img src="/customers/nitk_black.svg" alt="NITK"></div>
                        <div class="hovered-glass-text">
                            <p class="quote">Kanvas transformed our design workflow - delightful UX</p>
                            <p>Alidor Vieux</p> 
                            <p>Project Manager, NITK</p>
                        </div>
                    </div>
                </div>
                <div  class="logo">
                    <img src="/customers/rackspace_black.svg" alt="Rackspace">
                    <div class="hovered-glass">
                        <div><img src="/customers/rackspace_black.svg" alt="Rackspace"></div>
                        <div class="hovered-glass-text">
                            <p class="quote">Kanvas transformed our design workflow - delightful UX</p>
                            <p>Asha Khan</p>
                            <p>Product Lead, Rackspace</p>
                        </div>
                    </div>
                </div>
                <div  class="logo">
                    <img src="/customers/vmware.svg" alt="VMware">
                    <div class="hovered-glass">
                        <div><img src="/customers/vmware.svg" alt="VMware"></div>
                        <div class="hovered-glass-text">
                            <p class="quote">Kanvas transformed our design workflow - delightful UX</p>
                            <p>Asha Khan</p>
                            <p>Product Lead, VMware</p>
                        </div>
                    </div>
                </div>
                <div  class="logo">
                    <img src="/customers/uem_black.svg" alt="UEM">
                    <div class="hovered-glass">
                        <div><img src="/customers/uem_black.svg" alt="UEM"></div>
                        <div class="hovered-glass-text">
                            <p class="quote">Kanvas transformed our design workflow - delightful UX</p>
                            <p>Peter Scott</p>
                            <p>CEO, UEM</p>
                        </div>
                    </div>
                </div>   
            </div>
        </div>
    </div>
</section>
