<section class="feedback-section">
    <h2>Trusted by businesses, loved by users!</h2>
    <div class="feedback-wrapper">
        <div class="card-container">
            <div>
                <img src="/feedback/aishajohnson.png" alt="Aisha Johnson">
                <h3>Aisha Nunu</h3>
                <p><i class="fa-solid fa-quote-left"></i></p>
            </div>
            <p class="feedback-details">Kanvas made it incredibly easy to visualize my cloud architecture. I understood my mesh setup in minutes.</p>
        </div>
        <div class="card-container">
            <div>
                <img src="/feedback/daniel-kim.png" alt="Daniel Kim">
                <h3>Daniel Kim</h3>
                <p><i class="fa-solid fa-quote-left"></i></p>
            </div>
            <p class="feedback-details">The real-time feedback in Kanvas helped me spot misconfigurations before deployment. Huge time saver.</p>
        </div>
        <div class="card-container">
            <div>
                <img src="/feedback/emily-carter.png" alt="Emily Carter">
                <h3>Emily Carter</h3>
                <p><i class="fa-solid fa-quote-left"></i></p>
            </div>
            <p class="feedback-details">I love how intuitive the interface is. Even as a beginner, I felt confident exploring service mesh concepts.</p>
        </div>
        <div class="card-container">
            <div>
                <img src="/feedback/fatima-noor.png" alt="Fatime Noor">
                <h3>Fatime Noor</h3>
                <p><i class="fa-solid fa-quote-left"></i></p>
            </div>
            <p class="feedback-details">Designing and sharing architectures with my team in Kanvas streamlined our collaboration.</p>
        </div>
    </div>

</section>