<section class="feedback-section">
    <h2>Trusted by businesses, loved by users!</h2>
    <div class="feedback-wrapper">
        <div class="card-container">
            <div>
                <img src="/feedback/aishajohnson.png" alt="Aisha Johnson">
                <h4>Aisha Johnson</h4>
                <p><i class="fa-solid fa-quote-left"></i></p>
            </div>
            <p>Kanvas made it incredibly easy to visualize my cloud architecture. I understood my mesh setup in minutes.</p>
        </div>
        <div class="card-container">
            <div>
                <img src="/feedback/daniel-kim.png" alt="Daniel Kim">
                <h4>Daniel Kim</h4>
                <p><i class="fa-solid fa-quote-left"></i></p>
            </div>
            <p>The real-time feedback in Kanvas helped me spot misconfigurations before deployment. Huge time saver.</p>
        </div>
        <div class="card-container">
            <div>
                <img src="/feedback/emily-carter.png" alt="Emily Carter">
                <h4>Emily Carter</h4>
                <p><i class="fa-solid fa-quote-left"></i></p>
            </div>
            <p>I love how intuitive the interface is. Even as a beginner, I felt confident exploring service mesh concepts.</p>
        </div>
        <div class="card-container">
            <div>
                <img src="/feedback/fatima-noor.png" alt="Fatime Noor">
                <h4>Fatime Noor</h4>
                <p><i class="fa-solid fa-quote-left"></i></p>
            </div>
            <p>Designing and sharing architectures with my team in Kanvas streamlined our collaboration.</p>
        </div>
        <!-- <div class="card-container">
            <div>
                <img src="/feedback/james-anderson.png" alt="James Anderson">
                <h4>James Anderson</h4>
                <p><i class="fa-solid fa-quote-left"></i></p>
            </div>
            <p>The drag-and-drop experience is smooth, and the visuals make complex systems much easier to explain.</p>
        </div> -->
    </div>

</section>