<section class="scroll-container">
  <div class="horizontal">
    <div id="Screen1">
      <figure class="image-group">
        <figcaption>Drag & Drop</figcaption>
        <img id="DragDropGif" src="/images/Storyboard/drag-drop.gif" />
      </figure>
      <svg class="scroll-arrow" viewBox="0 0 800 200" preserveAspectRatio="none">
        <defs>
          <marker id="diamond" markerWidth="10" markerHeight="10" refX="5" refY="5" orient="auto">
            <rect x="3" y="3" width="4" height="4" fill="#008778" stroke="white" stroke-width="0.5" transform="rotate(45 5 5)" />
          </marker>
          
          <marker id="arrowhead" markerWidth="7" markerHeight="7" refX="7" refY="3.5" orient="auto">
            <path d="M0,0 L7,3.5 L0,7 Z" fill="#008778" stroke="white" stroke-width="0.5" />
          </marker>
        </defs>

        <path 
          id="arrow-path" 
          d="M370,110 C450,110 450,40 550,40" 
          fill="none" 
          stroke="#008778" 
          stroke-width="3"
          marker-start="url(#diamond)" 
          marker-end="url(#arrowhead)" 
        />
      </svg>
      <figure class="image-group">
        <figcaption>Relationship</figcaption>
        <img id="Relationship" src="/images/Storyboard/Relationship.svg" />
      </figure>
    </div>
  </div>

  <div class="horizontal">
    <div id="Screen2">
      <figure class="image-group">
        <figcaption>Dock</figcaption>
        <img id="comment-dock" src="/images/Storyboard/comment-dock.png" />
      </figure>
      <figure class="image-group">
        <figcaption>team interactions</figcaption>
        <img id="comment-section" src="/images/Storyboard/kanvas-comment.png" />
      </figure>
    </div>
  </div>

  <div class="horizontal">
    <div id="Screen3">
      <figure class="image-group">
        <figcaption>Deploying Designs</figcaption>
        <img id="deployment-pipeline" src="/images/Storyboard/deployment_pipeline.png" />
      </figure>
      <figure class="image-group">
        <figcaption>Validating Designs</figcaption>
        <img id="validate" src="/images/Storyboard/performing-validation.png" />
      </figure>
      <figure class="image-group">
        <figcaption>Deploying Designs</figcaption>
        <img id="Deploy" src="/images/Storyboard/success-deploy.png" />
      </figure>
    </div>
  </div>

  <div class="horizontal">
    <div id="Screen4">
      <figure class="image-group">
        <figcaption>Undeploying Designs</figcaption>
        <img id="undeploy" src="/images/Storyboard/undeploy.png" />
      </figure>
      <figure class="image-group">
        <figcaption>Cloning Design</figcaption>
        <img id="clonning" src="/images/Storyboard/clone-design.gif" />
      </figure>
    </div>
  </div>
</section>