<header class="site-header">
  <div class="container">
    <div class="action-button">
      <a href="https://docs.layer5.io/kanvas/" class="secondary-button w-inline-block">
        <div class="button-text">Read the Docs</div>
      </a>
      <a href="https://docs.layer5.io/videos/#category-0-subcategory-0" class="secondary-button w-inline-block">
        <div class="button-text">Watch Videos</div>
      </a>
    </div>
    <div class="logo">
      <a href="/">
        <img src="/brand/kanvas/horizontal/kanvas-horizontal-partial-color.svg" alt="Kanvas Logo" class="logo-img">
      </a>
    </div>
    <div class="nav-button-wrapper hide-tablet">
      <a href="https://kanvas.new" class="button w-inline-block">
        <div class="button-text">Try Kanvas</div>
      </a>
    </div>
  </div>
</header>