name: Build and Preview Site
on:
  pull_request:
    branches: [master]
    types: [opened, synchronize, reopened]

jobs:
  site-preview:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          persist-credentials: false
          fetch-depth: 1

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v3
        with:
          hugo-version: "0.154.5"
          extended: true

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Install and Build
        run: |
          make setup
          make build

      - name: Broken Link Check
        uses: technote-space/broken-link-checker-action@v2
        with:
          target: ./site/public/**/*.html

      - name: Zip Site
        run: |
          cd site
          zip -r ../public-dir.zip public

      - name: Upload files
        uses: actions/upload-artifact@v4
        with:
          name: public-dir
          path: ./public-dir.zip
          retention-days: 1

      - name: Trigger Inner workflow
        run: echo "triggering inner workflow"
